*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  min-height: 100vh;
}
.navbar{
  padding: 10px 0;
  margin-bottom: 150px;
  background: #27c09a;

}
.navbar a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  margin: 0px 15px;
}

.navbar a.active {
  color: rgb(195, 165, 17);
  border-bottom: 2px solid rgb(178, 149, 5);
}

.footer {
   background: #27c09a;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
}